<h3>Enjoy a one-page view of the best that Autotrader has to offer!</h3>
</br></br></br>


<h4>Limitations and known bugs</h4>
<p>None of the items listed is impossible to fix, but none is a deal-breaker, either. I made a difficult decision that my time will be better used honing the Rails skills in the third course.</p>

<ul>
  <li>You have to type in Make (and optionally Model) instead of having a drop-down menu.</li>
  <li>If you are shopping for a Mercedes, you'll have to type "Mercedes-Benz".</li>
  <li>Unfortunately, there is no clean way to find <em>series</em> (e.g. BMW, Mercedes). Your best best is to scoop all items in a make and let Excel take care of the rest.</li>
  <li>If you run several searches and see a previous output, try refreshing the page, clearing cache and browsing history, in that order.</li>
  <li>Sometimes you may see random results when you didn't guess the spelling of make and model. One-word ones should not be an issue, things like "F-150" vs "F150" (use the latter!) may take an extra minute to figure out.</li>
</ul>
<br>
<p><strong>Remember, this was built by a n00b as a final project for the second course... It's an excersice, so don't be hard on it.</strong></p>
</br></br></br>

<p>DISCLAIMER: This website is not affiliated with Autotrader.com or any of its owners or partners. This website is intended to be used exclusively for non-commercial personal purposes. The owner of this website does not recieve any compensation in any form nor reaps any economic benefit from this website. By using this website, you expressly agree not to use it for any purposes other than personal non-commercial ones.</p>