<ul class="nav">
  <li>
    <%= link_to "Autotrader-Direct", root_path, :class => 'brand' %>
  </li>
</ul>
<div class='nav-item'>
  <%= link_to 'New search', new_path, class: 'btn btn-success' %>
</div>